<!DOCTYPE html>
<html>

	<head>
	    <title>Vramp Prototype</title>
	    <link href="assets/img/favicon.ico" rel="Shortcut Icon">
	    <link type="text/css" rel="stylesheet" href="assets/css/vramp.css">
	</head>

	<body class="js--vramp-bidding" rv-auctionstatus="vrampObject.auctionStatus" rv-class-s-sold="vrampObject.lotDetail.status">
		
		<img src="assets/img/vramp-bg.png" class="fullscreenbg" />

		<div class="lot-preview">

			<div class="lot--title">
				<div class="lot--number">
					<label><span class="sale-ring">Ring 1</span></label>
					<div><span class="font--200">Lot</span> <span class="font--400" rv-text="vrampObject.lotDetail.lotNumber"></span></div>
				</div>
				<div class="lot--description">
					<span class="h-valign font--250">{ vrampObject.lotDetail.description }</span>
				</div>
				<div class="lot--qualifier-flag font--200" >
					<div class="lot--quantity" rv-if="vrampObject.lotDetail.qty | gt 0">
						<div class="font--200">Quantity</div>
						<div class="font--300">{vrampObject.lotDetail.qty}</div>
					</div>
					<div class="lot--unused font--200" rv-if="vrampObject.lotDetail.unused">
						Unused
					</div>
				</div>

			</div>

			<div class="lot--media"> 
				<div class="custom--media" rv-if="vrampObject.lotDetail.video">
		            <iframe src="https://www.youtube.com/embed/hWE7LRojEbQ" frameborder="0" allowfullscreen></iframe>
		        </div>
		        <div class="media--photo" rv-unless="vrampObject.lotDetail.photos">
					<img rv-src="vrampObject.lotDetail.photo" rv-unless="vrampObject.lotDetail.video"/>
				</div>
				<div class="media--photos" rv-if="vrampObject.lotDetail.photos">
					<div class="swiper-container">
		                <div class="swiper-wrapper">
		                    <!-- Slides -->
		                    <div class="swiper-slide" rv-each-photo="vrampObject.lotDetail.photos">
		                        <img rv-src="photo.src" />
		                    </div>
		                </div>
		                <!-- 
		                <div class="swiper-pagination"></div>
		                
		                <div class="swiper-button-prev"></div>
		                <div class="swiper-button-next"></div> -->
		            </div>
				</div>

			</div>

			<div class="choice-area" rv-show="vrampObject.choiceGroup">
				<div class="choice--header font--180">
					Choice of { vrampObject.choiceGroup | length } Remaining
				</div>
				<div class="choice--body" rv-class-s-show-photos="vrampObject.choiceGroup | lt 7">
					<ul class="choice--lots">
						<li rv-each-choicelot="vrampObject.choiceGroup" class="choice--lot-flex" rv-soldoroutclass="choicelot.status" rv-class-s-active="choicelot.active">
							<div class="choice-lot--number">{ choicelot.lotNumber }</div>
							<div class="choice-lot--status">
								<div class="choice-lot--photo">
									<img rv-src="choicelot.photo"/>									
								</div>
								<div class="choice-lot--indicator" rv-if="choicelot.status | comparison 'out'">
									<div class="choice-lot--status-text"><i class="icon-close"></i><span>OUT</span></div>
								</div>
								<div class="choice-lot--indicator" rv-if="choicelot.status | comparison 'sold'">
									<div class="choice-lot--status-text"><i class="icon-sold"></i><span>SOLD</span></div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</div>		
		
		<div class="paused-message">
			<div class="h-valign font--300">We are currently experiencing technical difficulties. The auction will resume shortly.</div>
		</div>

		<div class="pre-message">
			<div class="default-image"></div>
			<div class="h-valign font--300">
				
			</div>
			<div class="custom--media">
		            <iframe src="https://www.youtube.com/embed/hWE7LRojEbQ" frameborder="0" allowfullscreen></iframe>
		        </div>
		</div>

		<div class="post-message">
			<div class="default-image"></div>
			<div class="h-valign font--300">
				
			</div>
			<!-- <div class="custom--media">
	            <img src="assets/img/marketing.png">
	        </div> -->
		</div>

		<div class="pre-post-message">
			<div class="default-image"></div>
			<div class="h-valign font--300">
				
			</div>
			<div class="custom--media">
		            <iframe src="https://www.youtube.com/embed/hWE7LRojEbQ" frameborder="0" allowfullscreen></iframe>
		        </div>
		</div>
		
		<div class="details-area">
			<div class="active-details">
				<div class="prices">
					<div class="h-valign">

						<div class="ask">
							<label rv-hide="vrampObject.lotDetail.status" class="font--250">ASK PRICE</label>
							<label rv-show="vrampObject.lotDetail.status" class="font--250"><i class="c-brand icon-sold"></i>SOLD</label>
							<div class="h-float-right font--250" rv-if="vrampObject.lotDetail.qty | gt 0">{vrampObject.lotDetail.qty}x</div>
							<div class="ask--price h-ta-right ccy CAD">
								<span class="auction-ccy CAD"></span>
								<div class="dollars font--400" rv-html="vrampObject.price | price"></div>
							</div>
							<div class="h-ta-right h-mt-sub-100 font--150" rv-if="vrampObject.lotDetail.qty | gt 0">each</div>
						</div>

						<div class="conversions" rv-if="vrampObject.conversions | lengthgt 0">
							<div rv-each-conversion="vrampObject.conversions" class="conversion ccy" rv-addccyclass="conversion.currency" rv-class-s-outofauction="conversion.currency">
								<span class="dollars font--250" rv-html="conversion.rate | convertedVrampPrice vrampObject.price conversion.currency"></span>
							</div>
							<div class="h-ta-right h-mt-sub-100 font--120 c-brand_dark">(APPROXIMATE)</div> 
						</div>
					</div>

				</div>

				<div class="high-bidder">
					<label>
						High Bidder
					</label>

					<div class="h-t-ellipsize font--200"> 
						Internet, SK, CAN
					</div>
				</div>

				<div class="lot-details">
					<div class="lot-detail" rv-show="vrampObject.lotDetail.usage">
						<label>Usage</label>
						<div class="font--200" rv-text="vrampObject.lotDetail.usage"></div>
					</div>
					<div class="lot-detail" rv-show="vrampObject.lotDetail.comeswith" rv-hide="vrampObject.auctioneerMessage">
						<label>Comes With</label>
						<div class="font--200" rv-text="vrampObject.lotDetail.comeswith"></div>
					</div>
				</div>

				<div class="auctioneers-message" rv-class-s-shown="vrampObject.auctioneerMessage">
					<label for="">Note</label>
					<div class="font--200" rv-text="vrampObject.auctioneerMessage"></div>
				</div>

				<div class="persistent-message" rv-class-s-shown="vrampObject.persistentMessage">
					<div class="h-valign font--300" rv-text="vrampObject.persistentMessage"></div>
				</div>

				<div class="open-offers" rv-class-s-shown="vrampObject.openOffers">
					<label for="">Remaining Lots</label>
					<div class="font--200"> Choose lots to buy at the current ask price. </div>
				</div>
			</div>
			
			<!-- PAUSED RIGHT HAND SIDE AREA -->
			<div class="paused-details">
				
				<div class="ring-detail font--600">
					RING 1
					<label class="font--200">Lots 1 - 290, 8001 - 8099</label>
				</div>

				<div class="ring-status">
					<div class="ring-status--content font--200">
						<i class="icon-pause status-icon"></i>
						Auction Paused
					</div>
				</div>

			</div>

			<div class="pre-auction-details">
				
				<div class="ring-detail font--600">
					RING 1
					<label class="font--200">Lots 1 - 290, 8001 - 8099</label>
				</div>

				<div class="ring-status">
					<div class="ring-status--content">
						<label class="font--200">Starts at:</label><br/>
						<span class="font--600">08:00</span>
					</div>
				</div>

			</div>

			<div class="post-auction-details">
				
				<div class="ring-detail ring-detail_inactive font--600">
					RING 1
					<label class="font--200 h-mb-100">Lots 1 - 290, 8001 - 8099</label>
					<div class="c-brand h-t-clamp-3 font--200"> Bidding has ended for the day </div>
				</div>

				<div class="ring-status ring-status_focus">
					<div class="ring-status--content">
						<div class="font--200 h-mb-100">Ring 1 will start again tomorrow at:</div>
						<span class="font--600 h-mb-100">08:00</span><br/>
						<label class="font--200">Lots 2140 - 2700</label>
					</div>
				</div>

			</div>

		</div>

		<div class="sold">

			<div class="sold--content">
				<div class="font--300">Lot { vrampObject.lotDetail.lotNumber }</div>
				<div class="font--300">{ vrampObject.lotDetail.description }</div>
				<div class="font--600"> SOLD </div>
				<div class="ask--price ask--price_sold h-ta-center ccy CAD">
					<span class="auction-ccy CAD"></span>
					<div class="dollars font--600" rv-html="vrampObject.price | price"></div>
				</div>
			</div>

		</div>

		
		<footer class="other-rings">
			<ul class="rings">
				<li rv-each-ring="vrampObject.otherRings" class="ring" rv-ringstatusclass="ring.status" rv-on-click="vrampController.toggleOtherRingStatus"  rv-class-s-switching="ring.switching">
					<div rv-unless="ring.TAL">
						<div class="ring--number">
							<label>RING</label>
							<span class="font--150" rv-text="ring.number"></span>
						</div>

						<div class="ring--progress font--180">
							<div rv-if="ring.status | comparison 'inprogress'">
								Lot { ring.lot }
							</div>
							<div rv-if="ring.status | comparison 'notstarted'">
								Starts ~ { ring.startTime }
							</div>
							<div rv-if="ring.status | comparison 'ended'">
								Resumes tomorrow ~ { ring.startTime }
							</div>

						</div>

						<div class="ring--announcement font--180">
							<div class="t-marquee">Now Selling Excavators</div>
						</div>
					</div>

					<div rv-if="ring.TAL" class="ring_TAL">
						<div class="ring--number">
							<img src="assets/img/TAL-Icon.png"/>
						</div>
						<div class="ring--progress font--180">
							<div rv-if="ring.status | comparison 'inprogress'">
								Lot <span rv-text="ring.lot"></span> Closes Next
							</div>
							<div rv-if="ring.status | comparison 'notstarted'">
								Starts ~ <span rv-text="ring.startTime"></span>
							</div>
							<div rv-if="ring.status | comparison 'ended'">
								Timed Auction has Ended
							</div>

						</div>
					</div>
					
				</li>
			</ul>
		</footer>

		<div class="prototype-controls js--prototype-controls" rv-class-s-hidecontrols="vrampObject.controlsVisible">
			<div class="prototype--hide" rv-on-click="vrampController.toggleControls"><i class="icon-arrow-left"></i></div>
			<div>
				<label>Navigate</label><br/>
				<button rv-on-click="vrampController.prevLot" class="g-half">Previous Lot/Group</button>
				<button rv-on-click="vrampController.nextLot" class="g-half">Next Lot/Group</button><br/>
				<button rv-on-click="vrampController.sellLot">SELL THIS LOT</button>
				<button rv-on-click="vrampController.toggleOpenOffers">Open Offers</button>
			</div>

			<div>
				<label>Settings</label><br/>
				<button rv-on-click="vrampController.toggleConversions">Toggle Conversions</button><br/>
				<button rv-on-click="vrampController.showMessage">Toggle Auctioneer's Message</button><br/>
				<button rv-on-click="vrampController.showPersistentMessage">Toggle Persistent Message</button><br/>
			</div>
			<div>
				<label>Other Rings</label><br/>
				<button rv-on-click="vrampController.toggleOtherRings">Toggle Other Rings</button>
				<button rv-on-click="vrampController.incrementOtherRingLots">Change Other Rings</button>
				<button rv-on-click="vrampController.showNewCategory">Show New Category</button>
				<!-- <button rv-on-click="vrampController.toggleOpenOffer">Toggle Open Offer</button> -->
			</div>

			<div>
				<label>Auction State</label><br/>
				<button rv-on-click="vrampController.toggleActive">Active</button>
				<button rv-on-click="vrampController.togglePause">Paused</button>
				<button rv-on-click="vrampController.togglePre">Pre-Auction</button>
				<button rv-on-click="vrampController.togglePost">Post-Auction</button>
			</div>

		</div>

		<script type="text/javascript" src="assets/js/vramp-min.js"></script>

	</body>

</html>