<!DOCTYPE html>
<html>

	<head>
	    <title>Vramp Prototype</title>
	    <link href="assets/img/favicon.ico" rel="Shortcut Icon">
	    <link type="text/css" rel="stylesheet" href="assets/css/vramp.css">
	</head>

	<body class="js--vramp-bidding" rv-auctionstatus="vrampObject.auctionStatus">
		
		<img src="assets/img/vramp-bg.png" class="fullscreenbg" />

		<div class="lot-preview">

			<div class="lot--title">
				<div class="lot--number">
					<label><span class="sale-ring">Ring 1</span></label>
					<div class="font--300">Lot <span rv-text="vrampObject.lotDetail.lotNumber"></div>
				</div>
				<div class="lot--description">
					<span class="h-valign font--250" rv-text="vrampObject.lotDetail.description"></span>
				</div>
			</div>

			<div class="lot--media"> 
				<div class="custom--media" rv-if="vrampObject.lotDetail.video">
		            <iframe src="https://www.youtube.com/embed/hWE7LRojEbQ" frameborder="0" allowfullscreen></iframe>
		        </div>
				<img rv-src="vrampObject.lotDetail.photo" rv-unless="vrampObject.lotDetail.video"/>
			</div>

			<div class="choice-area" rv-show="vrampObject.choiceGroup">
				<div class="choice--header font--180">Choice of <span rv-text="vrampObject.choiceGroup | length"></span> Remaining</div>
				<div class="choice--body">
					<ul class="choice--lots">
						<li rv-each-choicelot="vrampObject.choiceGroup" class="choice--lot" rv-soldoroutclass="choicelot.status" rv-class-s-active="choicelot.active"><span rv-text="choicelot.lotNumber"></span><!-- <div rv-if="choicelot.status | issold" class="c-brand">SOLD</div><div rv-if="choicelot.status | isout" class="out-text">OUT</div> --></li>
					</ul>
				</div>
			</div>

		</div>		
		
		<div class="paused-message">
			<div class="h-valign font--300">We are currently experiencing technical difficulties. The auction will resume shortly.</div>
		</div>

		<div class="pre-post-message">
			<div class="default-image"></div>
			<div class="h-valign font--300">
				
			</div>
		</div>
		
		<div class="details-area">
			<div class="active-details">
				<div class="prices" rv-class-s-sold="vrampObject.lotDetail.status">
					<div class="h-valign">

						<div class="ask">
							<label rv-hide="vrampObject.lotDetail.status" class="font--300">ASK&nbsp;&nbsp;</label>
							<label rv-show="vrampObject.lotDetail.status" class="font--300"><i class="c-brand icon-sold"></i>SOLD</label>
							<div class="ask--price h-ta-right ccy CAD">
								<span class="auction-ccy CAD"></span>
								<div class="dollars font--400" rv-html="vrampObject.price | price"></div>
							</div>
						</div>

						<div class="conversions">
							<div rv-each-conversion="vrampObject.conversions" class="conversion ccy" rv-addccyclass="conversion.currency" rv-class-s-outofauction="conversion.currency">
								<span class="dollars font--250" rv-html="conversion.rate | convertedVrampPrice vrampObject.price conversion.currency"></span>
							</div>
						</div>
					</div>

				</div>

				<div class="high-bidder">
					<label>
						High Bidder
					</label>

					<div class="h-t-ellipsize font--200"> 
						Internet, SK, CAN
					</div>
				</div>

				<div class="lot-details">
					<div class="lot-detail" rv-show="vrampObject.lotDetail.usage">
						<label>Usage</label>
						<div class="font--200" rv-text="vrampObject.lotDetail.usage"></div>
					</div>
					<div class="lot-detail" rv-show="vrampObject.lotDetail.comeswith" rv-hide="vrampObject.auctioneerMessage">
						<label>Comes With</label>
						<div class="font--200" rv-text="vrampObject.lotDetail.comeswith"></div>
					</div>
				</div>

				<div class="auctioneers-message" rv-class-s-shown="vrampObject.auctioneerMessage">
					<label for="">Note</label>
					<div class="font--200" rv-text="vrampObject.auctioneerMessage"></div>
				</div>

				<div class="open-offers" rv-class-s-shown="vrampObject.openOffers">
					<label for="">Open Offers</label>
					<div class="font--200"> Choose lots to buy at the current ask price. </div>
				</div>
			</div>
			
			<!-- PAUSED RIGHT HAND SIDE AREA -->
			<div class="paused-details">
				
				<div class="ring-detail font--600">
					RING 1
					<label class="font--200">Lots 1 - 290, 8001 - 8099</label>
				</div>

				<div class="ring-status">
					<div class="ring-status--content font--200">
						<i class="icon-pause status-icon"></i>
						Auction Paused
					</div>
				</div>

			</div>

			<div class="pre-auction-details">
				
				<div class="ring-detail font--600">
					RING 1
					<label class="font--200">Lots 1 - 290, 8001 - 8099</label>
				</div>

				<div class="ring-status">
					<div class="ring-status--content">
						<label class="font--200">Starts at:</label><br/>
						<span class="font--600">08:00</span>
					</div>
				</div>

			</div>

			<div class="post-auction-details">
				
				<div class="ring-detail ring-detail_inactive font--600">
					RING 1
					<label class="font--200 h-mb-100">Lots 1 - 290, 8001 - 8099</label>
					<div class="c-brand font--200"> Bidding has ended for the day </div>
				</div>

				<div class="ring-status ring-status_focus">
					<div class="ring-status--content">
						<div class="font--200 h-mb-100">Ring 1 will start again tomorrow at:</div>
						<span class="font--600 h-mb-100">08:00</span><br/>
						<label class="font--200">Lots 2140 - 2700</label>
					</div>
				</div>

			</div>

		</div>

		
		<footer class="other-rings">
			<ul class="rings">
				<li rv-each-ring="vrampObject.otherRings" class="ring" rv-ringstatusclass="ring.status" rv-on-click="vrampController.toggleOtherRingStatus">
					<div rv-unless="ring.TAL">
						<div class="ring--number">
							<label>RING</label>
							<span class="font--150" rv-text="ring.number"></span>
						</div>
						
						<div class="ring--progress font--180">
							<div rv-if="ring.status | comparison 'inprogress'">
								Lot <span rv-text="ring.lot"></span>
							</div>
							<div rv-if="ring.status | comparison 'notstarted'">
								Starts ~ <span rv-text="ring.startTime"></span>
							</div>
							<div rv-if="ring.status | comparison 'ended'">
								Resumes tomorrow ~ <span rv-text="ring.startTime"></span>
							</div>

						</div>
					</div>

					<div rv-if="ring.TAL" class="ring_TAL">
						<div class="ring--number">
							<label>TIMED AUCTION</label>
						</div>
						<div class="ring--progress font--180">
							<div rv-if="ring.status | comparison 'inprogress'">
								Lot <span rv-text="ring.lot"></span> Closes Next
							</div>
							<div rv-if="ring.status | comparison 'notstarted'">
								Starts ~ <span rv-text="ring.startTime"></span>
							</div>
							<div rv-if="ring.status | comparison 'ended'">
								Timed Auction has Ended
							</div>

						</div>
					</div>
					
				</li>
			</ul>
		</footer>

		<div class="prototype-controls js--prototype-controls" rv-class-s-hidecontrols="vrampObject.controlsVisible">
			<div class="prototype--hide" rv-on-click="vrampController.toggleControls"><i class="icon-arrow-left"></i></div>
			<div>
				<label>Navigate</label><br/>
				<button rv-on-click="vrampController.prevLot" class="g-half">Previous Lot/Group</button>
				<button rv-on-click="vrampController.nextLot" class="g-half">Next Lot/Group</button><br/>
				<button rv-on-click="vrampController.sellLot">SELL THIS LOT</button>
			</div>

			<div>
				<label>Settings</label><br/>
				<button rv-on-click="vrampController.toggleConversions">Toggle Conversions</button><br/>
				<button rv-on-click="vrampController.showMessage">Toggle Auctioneer's Message</button><br/>
			</div>
			<div>
				<label>Other Rings</label><br/>
				<button rv-on-click="vrampController.toggleOtherRings">Toggle Other Rings</button>
				<button rv-on-click="vrampController.incrementOtherRingLots">Change Other Rings</button>
				<!-- <button rv-on-click="vrampController.toggleOpenOffer">Toggle Open Offer</button> -->
			</div>

			<div>
				<label>Auction State</label><br/>
				<button rv-on-click="vrampController.toggleActive">Active</button>
				<button rv-on-click="vrampController.togglePause">Paused</button>
				<button rv-on-click="vrampController.togglePre">Pre-Auction</button>
				<button rv-on-click="vrampController.togglePost">Post-Auction</button>
			</div>

		</div>

		<script type="text/javascript" src="assets/js/vramp-min.js"></script>

	</body>

</html>