
@mixin vrampbreakpoint($point) {
  @if $point == xlarge {
    @media (min-width: 1920px) { @content; }
  }
  
  @if $point == large {
    @media (min-width: 1600px) { @content; }
  }

  @if $point == medium {
    @media (min-width: 1280px) { @content; }
  }

  @if $point == small {
    @media (min-width: 960px) { @content; }
  }

  @if $point == smallmax {
    @media (max-width: 1280px) { @content; }
  }
}

@mixin ellipsize{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin vert-align{
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

@mixin lineclamp($length){
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow-y: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $length;
}

//TRANSITIONS
$transition-time_1: .2s;
$transition-time_2: .35s;
$transition-function: cubic-bezier(0.630, 0.005, 0.365, 1.000);//cubic-bezier(0.95, 0.05, 0.795, 0.035);

$transition: $transition-time_1 $transition-function;

@mixin transition($properties...){
  transition-property: $properties;
  transition-duration: $transition-time_2;
  transition-timing-function: $transition-function;
}

@mixin transition-delayed($delay, $properties...){
  transition-property: $properties;
  transition-duration: $transition-time_2;
  transition-timing-function: $transition-function;
  transition-delay: $delay;
}



//BASE STYLES

label{
	color: inherit;
}

html{
  height: 100%;
}

body{
	overflow: hidden;
  height: 100%;
}

.fullscreenbg{
	position: absolute;
	top: 0;
	left: 0;
	
	min-width: 100%;
	min-height: 100%;
}


.prototype-controls{
	position: fixed;
	top: 120px;
	left: 0;
	background-color: white;
	box-shadow: $ritchie-shadow;
	padding: 20px;
	z-index: 2;
	transition: $transition;

  &.s-hidecontrols{
    transform: translateX(-90%);
  }

	button{
		margin-bottom: 10px;
	}
}

  .prototype--hide{
    position: absolute;
    right: 10px;
    top: 10px;
    transform: rotate(0deg);
    cursor: pointer;
    transition: $transition;

    &:hover i{
      color: $brand-color; 
    }
    
    .s-hidecontrols &{
      transform: rotate(180deg);
    }
  }



