$details-width_small: 30%;
$details-width: 30%;

$footer-height_small: 40px;
$footer-height: 60px;
$footer-height_large: 60px;
$footer-height_xlarge: 70px;

$paused-spacing_small: 30px;
$paused-spacing: 40px;
$paused-spacing_large: 60px;

$default-padding: 20px; 
$default-padding_large: 25px;



//COLOURS
$brand-color: #E87722;
$error-colour: #c4483a;
$error-colour-light: #F3BFBF;

$black: #000000;
$white: #ffffff;

$grey-50: #e8e6e2;
$grey-100: #E9E9E9;
$grey-300: #bfc0be;
$grey-500: #959595;
$grey-700: #585858;
$grey-900: #333333;


$ritchie-border: 1px dotted $brand-color;

$ritchie-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);


@mixin vrampbreakpoint($point) {
  @if $point == xlarge {
    @media (min-width: 1920px) { @content; }
  }
  
  @if $point == large {
    @media (min-width: 1600px) { @content; }
  }

  @if $point == medium {
    @media (min-width: 1280px) { @content; }
  }

  @if $point == small {
    @media (min-width: 960px) { @content; }
  }

  @if $point == smallmax {
    @media (max-width: 1280px) { @content; }
  }
}

@mixin ellipsize{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin vert-align{
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

//TRANSITIONS
$transition-time_1: .2s;
$transition-time_2: .35s;
$transition-function: cubic-bezier(0.630, 0.005, 0.365, 1.000);//cubic-bezier(0.95, 0.05, 0.795, 0.035);

$transition: $transition-time_1 $transition-function;

@mixin transition($properties...){
  transition-property: $properties;
  transition-duration: $transition-time_2;
  transition-timing-function: $transition-function;
}

@mixin transition-delayed($delay, $properties...){
  transition-property: $properties;
  transition-duration: $transition-time_2;
  transition-timing-function: $transition-function;
  transition-delay: $delay;
}



//BASE STYLES

label{
	color: inherit;
}

body{
	overflow: hidden;
}

.fullscreenbg{
	position: absolute;
	top: 0;
	left: 0;
	
	min-width: 100%;
	min-height: 100%;
}


.prototype-controls{
	position: fixed;
	top: 120px;
	left: 0;
	background-color: white;
	box-shadow: $ritchie-shadow;
	padding: 20px;
	z-index: 2;
	display: none;

	button{
		margin-bottom: 10px;
	}
}