$choice-spacing: 10px;
$choice-spacing_small: 5px;

.choice-area{
	
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	z-index: 1;

	.s-other-rings_all &{
		//bottom: $footer-height;
	}

}

	.choice--header{
		padding: $default-padding/2;
		padding-bottom: 5px;
		width: 100%;

		@include vrampbreakpoint(large){
			padding: $default-padding;
			padding-bottom: 10px;
		}

		background: linear-gradient(top, rgba($grey-900,0), rgba($grey-900,1));

		text-transform: uppercase;
		color: white;
	}

	.choice--body{
		padding: 0 $default-padding/2 $default-padding/2;

		@include vrampbreakpoint(large){
			padding: 0 $default-padding $default-padding;
		}

		background-color: $grey-900;

	}

		$large-height: 100px;
		$med-height: 80px;
		$small-height: 50px;
		$xsmall-height: 42px;

		.choice--lot{
			position: relative;
			display: inline-block;
			margin-right: $choice-spacing_small;

			vertical-align: top;

			height: $large-height - 10px;
			line-height: $large-height - 10px;
			max-width: 200px;
			white-space: nowrap;
			
			background-color: white;
			border-radius: 8px;
			//border:  solid transparent;
			box-shadow: $ritchie-shadow;

			transition: $transition;
			
			color: $brand-color;
			text-align: center;
			
			overflow: hidden;

			span{
				vertical-align: middle;
				display: inline-block;
				transition: $transition;
			}

			&:before{
				@include icon-font;
				font-size: 40px;
				content: '';
				
				transform: translateY(-100%);

				display: block;

				opacity: 0;
				
				transition: $transition;
				transition-delay: 0.3s;
			}
			
			&.s-sold, &.s-out{
				background-color: $grey-700;
				color: rgba(white,1);
				line-height: initial !important;
				
				span{
					//margin-left: 5px;
				}

				&:before{
					opacity: 1;
					transform: translateY(0);
					margin-top: 6px;
				}

				div{
					display: inline-block;
				}
			}

			&.s-sold:before{
				content: "\e920";
				color: $brand-color;
			}

			&.s-out{
				background-color: $error-colour;
				span{
					//text-decoration: line-through;
				}

				&:before{
					content: "\e906";
					color: rgba(white, 0.5);
				}
			}

			&.s-active{
				background-color: $brand-color;
				color: white;
			}

			@include vrampbreakpoint(large){
				margin-right: $choice-spacing;
				max-width: 320px;

				// &.s-active{
				// 	box-shadow: 0 0 0 8px $brand-color;
				// }
			}

				
		//DIFFERENT STYLING FOR DIFFERENT QUANTITIES OF LOTS

		&:nth-last-child(n+2),
			&:nth-last-child(n+2) ~ li {
				
				height: $med-height - 10px;
				line-height: $med-height - 5px;

				&:before{
					font-size: 22px;
				}
				
				&.s-sold, &.s-out{
					&:before{
						//margin-bottom: 5px;
						margin-top: 5px;
					}
				}

				@include vrampbreakpoint(medium){
					height: $large-height - 20px;
					line-height: $large-height - 12px;

					&:before{
						font-size: 30px;
					}
					
					&.s-sold, &.s-out{
						&:before{
							//margin-bottom: 5px;
							margin-top: 5px;
						}
					}
				}

				@include vrampbreakpoint(large){
					height: $large-height;
					line-height: $large-height + 10px;
					//@include font-size(1.5);

					&:before{
						font-size: 40px;
					}
					
					&.s-sold, &.s-out{
						&:before{
							//margin-bottom: 5px;
							margin-top: 5px;
						}
					}
				}
			}


		//BETWEEN FIVE AND TEN LOTS
			&:nth-last-child(n+5),
			&:nth-last-child(n+5) ~ li {
				height: $med-height - 25px;
				line-height: $med-height - 20px;

				&:before{
					font-size: 20px;
				}
				
				&.s-sold, &.s-out{
					&:before{
						//margin-bottom: 5px;
						margin-top: 5px;
					}
				}

				@include vrampbreakpoint(medium){
					height: $med-height - 15px;
					line-height: $med-height - 10px;

					&:before{
						font-size: 25px;
					}
					
					&.s-sold, &.s-out{
						&:before{
							//margin-bottom: 4px;
							margin-top: 4px;
						}
					}
				}

				@include vrampbreakpoint(large){
					height: $med-height;
					line-height: $med-height + 10px;
					//@include font-size(1.5);

					&:before{
						font-size: 30px;
					}
					
					&.s-sold, &.s-out{
						&:before{
							//margin-bottom: 5px;
							margin-top: 5px;
						}
					}
				}
			}
			
		//MORE THAN TEN LOTS
			&:nth-last-child(n+11),
			&:nth-last-child(n+11) ~ li {
				height: $small-height;
				line-height: $small-height + 2px;
				margin-bottom: $choice-spacing;

				&:before{
					font-size: 18px;
				}

				&.s-sold, &.s-out{
					&:before{
						//margin-bottom: 2px;
						margin-top: 2px;
					}
				}

				@include vrampbreakpoint(medium){
					line-height: $small-height + 2px;
				}

				@include vrampbreakpoint(large){
					line-height: $small-height + 3px;
				}

				@include vrampbreakpoint(xlarge){
					height: $med-height - 10px;
					line-height: $med-height - 5px;

					&:before{
						font-size: 24px;
					}

					&.s-sold, &.s-out{
						&:before{
							//margin-bottom: 5px;
							margin-top: 5px;
						}
					}
				}
			}

		//MORE THAN 20 LOTS
			&:nth-last-child(n+21),
			&:nth-last-child(n+21) ~ li {
				height: $xsmall-height;
				line-height: $xsmall-height;
				margin-bottom: $choice-spacing/2;

				&:before{
					font-size: 15px; 
				}

				&.s-sold, &.s-out{
					&:before{
						margin-bottom: 0; 
						margin-top: 1px;
					}
				}

				@include vrampbreakpoint(medium){
					line-height: $xsmall-height + 2px;
				}

				@include vrampbreakpoint(large){
					line-height: $xsmall-height + 3px;
				}

				@include vrampbreakpoint(xlarge){
					height: $small-height;
					line-height: $small-height + 6px;
				}
			}


				//ADJUSTING WIDTH OF ITEMS UP TO MAX OF 10 ITEMS
				@for $i from 2 through 10{
				  	&:nth-last-child(n+#{$i}),
				  	&:nth-last-child(n+#{$i}) ~ li{
				    	
				    	width: calc((100% / #{$i}) - #{$choice-spacing_small}); 

				    	@include vrampbreakpoint(large){
				    		width: calc((100% / #{$i}) - #{$choice-spacing});
				    	}
					}
				}



				&:nth-last-child(n+2),
				&:nth-last-child(n+2) ~ li {
					@include font-size(2);

					@include vrampbreakpoint(medium){
						@include font-size(2.2);
					}

					@include vrampbreakpoint(large){
						@include font-size(3);
					}
					
					@include vrampbreakpoint(xlarge){
						@include font-size(3.5);
					}

				}

				&:nth-last-child(n+5),
				&:nth-last-child(n+5) ~ li {
					@include font-size(1.4);

					@include vrampbreakpoint(medium){
						@include font-size(1.8);
					}

					@include vrampbreakpoint(large){
						@include font-size(2);
					}

					@include vrampbreakpoint(xlarge){
						@include font-size(2.7);
					}
				}

				&:nth-last-child(n+9),
				&:nth-last-child(n+9) ~ li {
					@include font-size(1.2);

					@include vrampbreakpoint(medium){
						@include font-size(1.6);
					}

					@include vrampbreakpoint(large){
						@include font-size(2);
					}

					@include vrampbreakpoint(xlarge){
						@include font-size(2.2);
					}
				}

				&:nth-last-child(n+10),
				&:nth-last-child(n+10) ~ li {
					
					@include font-size(1.1);

					@include vrampbreakpoint(medium){
						@include font-size(1.5);
					}

					@include vrampbreakpoint(large){
						@include font-size(1.8);
					}

					@include vrampbreakpoint(xlarge){
						@include font-size(2.2);
					}
				}



				// &:nth-last-child(n+10),
				// &:nth-last-child(n+10) ~ li {
				// 	width: calc((100% / 10) - #{$choice-spacing});
				// }

				// &:nth-last-child(n+11),
				// &:nth-last-child(n+11) ~ li {
				// 	width: calc((100% / 11) - #{$choice-spacing});
				// }

				// &:nth-last-child(n+12),
				// &:nth-last-child(n+12) ~ li {
				// 	width: calc((100% / 12) - #{$choice-spacing});
				// }

			
		}







