



.choice-area{
	
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	z-index: 1;

	.s-openOffers &{
		top: 0;
	}

}

	.choice--header{
		padding: $default-padding;
		padding-bottom: 0.4vw;
		width: 100%;

		background: linear-gradient(top, rgba($grey-900,0), rgba($grey-900,1) 50%);

		text-transform: uppercase;
		color: white;

		transition: $transition;
		
		.s-openOffers &{
			background: linear-gradient(top, rgba($grey-900,1), rgba($grey-900,1));			
		}

	}

	.choice--body{
		padding: 0 $default-padding $default-padding;
		background-color: $grey-900;
		
		.s-openOffers &{
			position: absolute;
			left: 0;
			right: 0;
			top: 3.9vw;
			bottom: 0;
		}
	}

	.choice--lots{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: stretch;
		position: relative;
	}
		$choice-item-spacing: 0.5vw;
		$lot-height_xsmall: 3vw;
		$lot-height_small: 4vw;
		$lot-height_med: 4.5vw;
		$lot-height_large: 6vw;

		.choice--lot-flex{
			flex-grow: 1;
			flex-basis: 0;
			height: $lot-height_large;
			line-height: $lot-height_large;

			position: relative;
			overflow: hidden;

			background-color: white;
			border-radius: 8px;
			box-shadow: $ritchie-shadow;
			margin-right: $choice-item-spacing;
			min-width: 6.2vw;

			transition: $transition;

			color: $brand-color;
			text-align: center;

		//FONT SIZE DEPENDS ON NUMBER OF ITEMS
			&:nth-last-child(n+2),
			&:nth-last-child(n+2) ~ li {
				@include font-size(2);
			}

			&:nth-last-child(n+5),
			&:nth-last-child(n+5) ~ li {
				@include font-size(1.4);
			}

			&:nth-last-child(n+9),
			&:nth-last-child(n+9) ~ li {
				@include font-size(1.2);
			}

			&:nth-last-child(n+11),
			&:nth-last-child(n+11) ~ li {
				max-width: 6.2vw;
				@include font-size(1.1);
				margin-bottom: $choice-item-spacing;
				height: $lot-height_small;
				line-height: $lot-height_small;

				.choice-lot--status{
					top: $lot-height_small/2;
				}

				&.s-sold, &.s-out{
					line-height: $lot-height_small/2;
				}
			}

			&.s-active {
				// background-color: $brand-color;
				// color: white;
				&:before{
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					right: 0;
					border: 8px solid $brand-color;
					border-radius: 8px;
				}
			}

			&.s-sold, &.s-out{
				background-color: $grey-700;
				opacity: 0.7;
				color: rgba(white,1);
				line-height: $lot-height_large / 2;
			}

		}

			.choice-lot--number{
				padding-top: 0.1em;
			}

			.choice-lot--status{
				display: block;
				position: absolute;
				top: 100%;
				bottom: 0;
				left: 0;
				right: 0;
				overflow: hidden;
				transition: $transition;

				.s-sold &, .s-out &, .s-openOffers &{
					top: $lot-height_large/2;
				}

				i{
					font-size: 0.8em;
					margin-right: 0.4vw;
				}

				span{
					display: inline-block;
				}
			}

				.choice-lot--status-text{
					@include vert-align;
					width: 100%;
					padding-top: 0.1em;
				}


			.choice-lot--indicator{
				position: absolute;
				bottom: 0;
				top: 0;
				left: 0;
				right: 0;
				background-color: rgba($grey-900, 0.8);

				.s-out &{
					background-color: $error-colour;
				}

				.s-sold &{
					background-color: $brand-color;
				}
			}

			.choice-lot--photo{
				width: 100%;
				max-height: 0;
				overflow: hidden;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				transition: $transition;

				img{
					width: 100%;
					max-width: 100%;
					display: block;
				}
			}
		
		$choice--height--oo-xxxlarge: 28vw;
		$choice--height--oo-xxlarge: 23.5vw;
		$choice--height--oo-xlarge: 19.5vw;
		$choice--height--oo-large: 15.5vw;
		$choice--height--oo-medium: 11.5vw;
		$choice--height--oo-small: 11vh;
		
		//OPEN OFFERS MODE - EVERYTHING CHANGES!!		
		.s-openOffers{

			.choice--lot-flex{
				
				&.s-active:before{
					border: none;
				}

				&:nth-last-child(n+2),
				&:nth-last-child(n+2) ~ li {
					min-width: 33vw;
					max-width: 33vw;
					height: $choice--height--oo-xxxlarge;
					margin-bottom: $choice-item-spacing;
					@include font-size(2);
				}

				&:nth-last-child(n+3),
				&:nth-last-child(n+3) ~ li {
					height: $choice--height--oo-xxlarge;
				}

				&:nth-last-child(n+5),
				&:nth-last-child(n+5) ~ li {
					min-width: 22vw;
					max-width: 22vw;
					height: $choice--height--oo-xlarge;
				}

				&:nth-last-child(n+7),
				&:nth-last-child(n+7) ~ li {
					height: $choice--height--oo-large;
				}

				&:nth-last-child(n+10),
				&:nth-last-child(n+10) ~ li {
					min-width: 16.4vw;
					max-width: 16.4vw;
				}

				&:nth-last-child(n+13),
				&:nth-last-child(n+13) ~ li {
					min-width: 13vw;
					max-width: 13vw;
					margin-bottom: $choice-item-spacing;
				}

				&:nth-last-child(n+13),
				&:nth-last-child(n+13) ~ li {
					height: $choice--height--oo-medium;
				}

				&:nth-last-child(n+21),
				&:nth-last-child(n+21) ~ li {
					min-width: 10.7vw;
					max-width: 10.7vw;
					height: $choice--height--oo-small;
					line-height: $choice--height--oo-small !important;

					.choice-lot--photo{
						display: none;
					}

					&.s-sold, &.s-out{
						line-height: $choice--height--oo-small/2 !important;
					}

					.choice-lot--status{
						top: $choice--height--oo-small/2 !important;
					}
				}
			}
		}
		

		//FOR SELLING MODE WITH FEWER THAN SIX LOTS
		.s-show-photos{
			.choice--lot-flex{
				height: 11vw;
				max-width: 12vw;

				&.s-active{
					&:before{
						z-index: 1000;
					}

					.choice-lot--number{
						padding-top: 8px;
					}
				}
			}
		}

		.s-show-photos, .s-openOffers{
			.choice--lot-flex{
				line-height: $lot-height_large / 2 !important;
			}

			.s-out .choice-lot--indicator{
				background-color: rgba($error-colour,0.8);
			}

			.s-sold .choice-lot--indicator{
				background-color: rgba($brand-color,0.8);
			}

			.choice-lot--status{
				height: auto;
				top: $lot-height_large/2 !important;
			}

			.choice-lot--photo{
				max-height: 600px;
			}
		}

		
			



