

.details-area{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;

	width: $details-width;

	background-color: $bg-color-ask;
	text-align: left;
	color: $text-color-details;

	overflow: hidden;

	transition: $transition;

	.s-other-rings_single &{
		bottom: $footer-height;
	}

	.s-auction-paused &, .s-auction-pre &, .s-auction-post &{
		top: 50%;
		height: 52.5vw;
		//height: 39.375vw; //16:9
		bottom: auto;
		transform: translateY(-50%);

		box-shadow: $ritchie-shadow;
	}

	.s-auction-paused.s-other-rings_single &, .s-auction-pre.s-other-rings_single &, .s-auction-post.s-other-rings_single &{
		top: 46.6%;
	}
}

	.active-details{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		transform: translateX(0);
		transition: $transition;

		.s-auction-paused &, .s-auction-pre &, .s-auction-post &{
			transform: translateX(100%);
		}

	}

	.prices{
		position: absolute;
		top: 0;
		width: 100%;

		height: $height-ask;

		text-align: center;

		>div{
			width: 100%;
		}

		&.s-sold{
			background-color: $grey-700;
		}
	}


		$ccys: 	"CAD" "$" "" "," "." true 2,
			"USD" "$" "" "," "." true 14,
			"SGD" "$" "" "," "." true 12,
			"NZD" "$" "" "," "." true 10,
			"AUD" "$" "" "," "." true 0,
			"MXN" "$" "" "," "." true 8,
			"ZAR" "R" "" "," "." true 15,
			"PLN" "" "z\0142" " " "," true 11,
			"GBP" "\00A3" "" "," "." true 5,
			"EUR" "\20AC" "" " " "," true 4,
			"CNY" "\00A5" "" "," "." true 3,
			"JPY" "\00A5" "" "," "." false 7,
			"INR" " \20B9" "" "," "." true 6,
			"AED" "" "د.إ" "," "." true 1,
			"NOK" "kr" "" "," "." true 9,
			"TRY" "\20BA" "" "," "." true 13;


		@each $ccy in $ccys{
			
			.divider:before{
				.#{nth($ccy,1)} & {
					content: "#{nth($ccy,4)}";
				}
			}
			.dollars:before{
				.#{nth($ccy,1)} & {
					content: "#{nth($ccy,2)}";
				}
			}
			.dollars:before{
				.conversion.#{nth($ccy,1)} &{
					content: "~#{nth($ccy,2)}";
				}
			}
			.dollars:after{
				.#{nth($ccy,1)} & {
					content: "#{nth($ccy,3)}";
					margin-left: 3px;
					display: inline-block;
				}
			}
			.ccy{
				&.#{nth($ccy,1)}:before{
					content: "#{nth($ccy,1)}";
				}
			}

			.ccy{
				&.#{nth($ccy,1)}:after{
					background-position: 0 -#{nth($ccy,7)*1.5vw};
				}
			}

			.auction-ccy{
				&.#{nth($ccy,1)}:after{
					background-position: 0 -#{nth($ccy,7)*1.5vw};
				}
			}

			.auction-ccy{
				&.#{nth($ccy,1)}:before {
					content: "#{nth($ccy,1)} #{nth($ccy,3)}"; 
				}
			}

		}

		.auction-ccy{
			display: inline-block;
			float: left;
			vertical-align: top;

			margin-left: 0.5vw;
			margin-top: 0.6vw;
			
			&:after{
				content: '';
				display: block;
				width: $flag-width;
				height: $flag-height;
				background-repeat: no-repeat;
				background-size: 100% auto;
				background-image: url(../img/ccy-flags.png);

			}

			&:before{
				display: block;
				@extend .font--120;
			}
		}

			.ccy:after{
				content: '';
				display: block;
				vertical-align: top;
				margin-right: 7px;
				width: $flag-width;
				height: $flag-height;
				background-repeat: no-repeat;
				background-size: 100% auto;
				background-image: url(../img/ccy-flags.png);
				//box-shadow: $ritchie-shadow;
			}


		.ask{
			
			padding: 0 10px;
			overflow: hidden;
			margin-bottom: 2vw;

			@include vrampbreakpoint(medium){
				padding: 0 $default-padding;
			}

			label{
				
				display: block;
				margin-bottom: 0.6vw;
			}

			i{
				margin-right: 1rem;
				font-size: 0.8em;
			}
			

		}

			.ask--price{
				//display: inline-block;
				position: relative;
			
				&:before{
					@extend .font--180;
					vertical-align: top;
				}
				
				&:before, &:after{
					display: none;
				}

				.dollars{
					display: inline-block;
					float: right;
					min-height: 1.3em;
				}
			}


		.conversions{
			text-align: left;
			margin: 0 0.8vw;
		}

			.conversion{
				padding: 0.8vw;
				background-color: rgba(0,0,0,0.1);
				position: relative;
				margin-bottom: 0.5vw;
				overflow: hidden;

				
				&.ccy{
					&:after{
						position: absolute;
						left: 0.6vw;
						bottom: 0.8vw;
					}

					&:before{
						position: absolute;
						width: $flag-width;
						left: 0.6vw;
						top: 0.6vw;

						@extend .font--120;
						text-align: center;
					}
				}

				.dollars{
					float: right;
					display: inline-block;

				}
			}


	.high-bidder{
		position: absolute;
		width: 100%;

		top: $height-ask;
		height: $height-high-bid;

		padding: $detail-padding;

		background-color: $bg-color-high-bid;

		@include details-label;
	
	}

	.lot-details{
		position: absolute;
		top: $top-lot-details;
		width: 100%;
		height: $top-lot-details;

		padding: $detail-padding;
		background-color: $bg-color-details;
		
		@include details-label;

	}

		.lot-detail{

			&:not(:last-of-type){
				margin-bottom: 1vw;	

			}

			div{
				@include lineclamp(3);
			}
		}


	.auctioneers-message{
		position: absolute;
		bottom: 0;
		width: 100%;

		background-color: $bg-color-auctioneer-message;
		padding: $default-padding;
			
		@include details-label;

		transform: translateY(100%);
		transition: $transition;

		&.s-shown{
			transform: translateY(0);	
		}
	}

	.persistent-message{
		position: absolute;
		top: $height-ask;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: rgba($grey-700,0.95);
		color: white;
		text-align: center;

		transform: translateX(100%);

		transition: $transition;

		&.s-shown{
			transform: translateX(0);	
		}
	}

	.open-offers{
		position: absolute;
		top: 100%;
		width: 100%;

		background-color: $bg-color-auctioneer-message;
		padding: $default-padding;
			
		@include details-label;

		transition: $transition;

		&.s-shown{
			top: $height-ask;
			height: calc(100% - (#{$top-lot-details} - #{$height-high-bid}));
		}
	}







	





