$bg-color-ask: $brand-color;
$bg-color-high-bid: darken($brand-color, 10%);
$bg-color-details: darken($brand-color,15%);
$bg-color-auctioneer-message: darken($brand-color,25%);

$text-color-details: white;

$height-ask_small: 48%;
$height-ask: 46%;
$height-ask_large: 46%;
$height-ask_xlarge: 46%;


$height-high-bid_small: 75px;
$height-high-bid: 90px; 
$height-high-bid_large: 110px;
$height-high-bid_xlarge: 130px;


$height-lot-details: 50%;

.details-area{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;

	width: $details-width_small;

	background-color: $bg-color-ask;
	text-align: left;
	color: $text-color-details;

	overflow: hidden;

	transition: $transition;

	@include vrampbreakpoint(medium){
		width: $details-width;
	}

	.s-other-rings_single &{
		bottom: $footer-height_small;

		@include vrampbreakpoint(medium){
			bottom: $footer-height;
		}

		@include vrampbreakpoint(large){
			bottom: $footer-height_large;
		}

		@include vrampbreakpoint(slarge){
			bottom: $footer-height_xlarge;
		}
	}

	.s-auction-paused &, .s-auction-pre &, .s-auction-post &{
		top: 50%;
		height: 52.5vw;
		//height: 39.375vw; //16:9
		bottom: auto;
		transform: translateY(-50%);

		box-shadow: $ritchie-shadow;
	}

	.s-auction-paused.s-other-rings_single &, .s-auction-pre.s-other-rings_single &, .s-auction-post.s-other-rings_single &{
		top: 46.6%;
	}
}

	.active-details{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		transform: translateX(0);
		transition: $transition;

		.s-auction-paused &, .s-auction-pre &, .s-auction-post &{
			transform: translateX(100%);
		}

	}

	.prices{
		position: absolute;
		top: 0;
		width: 100%;

		height: $height-ask_small;

		@include vrampbreakpoint(medium){
			height: $height-ask;
		}

		text-align: center;

		>div{
			width: 100%;
		}

		&.s-sold{
			background-color: $grey-700;
		}
	}


		$ccys: 	"CAD" "$" "" "," "." true 2,
			"USD" "$" "" "," "." true 14,
			"SGD" "$" "" "," "." true 12,
			"NZD" "$" "" "," "." true 10,
			"AUD" "$" "" "," "." true 0,
			"MXN" "$" "" "," "." true 8,
			"ZAR" "R" "" "," "." true 15,
			"PLN" "" "z\0142" " " "," true 11,
			"GBP" "\00A3" "" "," "." true 5,
			"EUR" "\20AC" "" " " "," true 4,
			"CNY" "\00A5" "" "," "." true 3,
			"JPY" "\00A5" "" "," "." false 7,
			"INR" " \20B9" "" "," "." true 6,
			"AED" "" "د.إ" "," "." true 1,
			"NOK" "kr" "" "," "." true 9,
			"TRY" "\20BA" "" "," "." true 13;


		@each $ccy in $ccys{
			
			.divider:before{
				.#{nth($ccy,1)} & {
					content: "#{nth($ccy,4)}";
				}
			}
			.dollars:before{
				.#{nth($ccy,1)} & {
					content: "#{nth($ccy,2)}";
				}
			}
			.dollars:after{
				.#{nth($ccy,1)} & {
					content: "#{nth($ccy,3)}";
					margin-left: 3px;
					display: inline-block;
				}
			}
			.ccy{
				&.#{nth($ccy,1)}:before{
					content: "#{nth($ccy,1)}";
				}
			}

			.ccy{
				&.#{nth($ccy,1)}:after{
					background-position: 0 -#{nth($ccy,7)*15px};
				}
			}

			.auction-ccy{
				&.#{nth($ccy,1)}:after{
					background-position: 0 -#{nth($ccy,7)*15px};
				}
			}

			.auction-ccy{
				&.#{nth($ccy,1)}:before {
					content: "#{nth($ccy,1)} #{nth($ccy,3)}"; 
				}
			}

		}

		.auction-ccy{
			display: inline-block;
			float: left;
			vertical-align: top;

			margin-left: 6px;
			margin-top: 4px;

			@include vrampbreakpoint(medium){
				margin-left: 1px;
				margin-top: 4px;
			}

			@include vrampbreakpoint(large){
				margin-left: 7px;
				margin-top: 3px;
			}

			@include vrampbreakpoint(xlarge){
				margin-left: 13px;
				margin-top: 13px;
			}
			
			&:after{
				content: '';
				display: block;
				//vertical-align: top;
				// margin-left: 2px;
				// margin-right: 0;
				// margin-top: 0;
				width: 30px;
				height: 15px;
				background-repeat: no-repeat;
				background-size: 100% auto;
				background-image: url(../img/ccy-flags.png);
				//box-shadow: $ritchie-shadow;
				transform: scale(1);

				@include vrampbreakpoint(medium){
					transform: scale(1.2);
					margin-left: 10px;
					margin-right: 12px; 
					margin-top: 4px;
				}

				@include vrampbreakpoint(large){
					transform: scale(1.4);
				}
			}

			&:before{
				 display: block;
				 font-size: 15px; 

				 @include vrampbreakpoint(medium){
				 	font-size: 20px;
				 }

				 @include vrampbreakpoint(large){
				 	font-size: 30px;
				 }
			}
		}

		.ccy:after{
			content: '';
			display: block;
			vertical-align: top;
			margin-right: 7px;
			width: 30px;
			height: 15px;
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-image: url(../img/ccy-flags.png);
			//box-shadow: $ritchie-shadow;
		}


		.ask{
			
			padding: 0 10px;
			overflow: hidden;

			@include vrampbreakpoint(medium){
				padding: 0 $default-padding;
			}

			label{
				
				display: block;
				margin-bottom: 5px;

				@include vrampbreakpoint(medium){
					margin-bottom: 10px;
				}
			}

			i{
				margin-right: 1rem;
				font-size: 0.8em;
			}
			

		}

			.ask--price{
				//display: inline-block;
				position: relative;
			
				&:before{
					@extend .font--180;
					vertical-align: top;
				}

				// &:after{
				// 	position: absolute;
				// 	// left: 5px;
				// 	// top: 25px;
				// 	// transform: scale(1);

				// 	@include vrampbreakpoint(medium){
				// 		left: 8px;
				// 		top: 30px;
				// 		transform: scale(1.2);
				// 	}
					
				// 	@include vrampbreakpoint(large){
				// 		left: 10px;
				// 		top: 35px;
				// 	}

				// 	@include vrampbreakpoint(xlarge){
				// 		left: 12px;
				// 		top: 40px;
				// 		transform: scale(1.4);
				// 	}
				// }
				
				&:before, &:after{
					display: none;
				}

				.dollars{
					display: inline-block;
					float: right;
					min-height: 1.3em;
				}
			}


		.conversions{
			text-align: left;
			margin: 10px;
			margin-bottom: 0;

			@include vrampbreakpoint(medium){
				margin: 0 $default-padding;
			}

			@include vrampbreakpoint(xlarge){
				margin: 0 $default-padding_large;
			}
		}

			.conversion{
				padding: 5px;
				background-color: rgba(0,0,0,0.1);
				position: relative;
				margin-bottom: 5px;
				overflow: hidden;

				@include vrampbreakpoint(medium){
					padding: 10px;
					margin-bottom: 10px;
				}

				@include vrampbreakpoint(large){
					padding: 15px;
					margin-bottom: 15px;
				}

				&.ccy{
					&:after{
						position: absolute;
						left: 6px;
						bottom: 4px;

						@include vrampbreakpoint(medium){
							transform: scale(1.2);
							left: 10px;
							bottom: 10px;
						}

						@include vrampbreakpoint(large){
							transform: scale(1.6);
							left: 20px;
							bottom: 20px;
						}
					}

					&:before{
						position: absolute;
						left: 6px;
						top: 4px;
						@extend .font--120;
						width: 30px;
						text-align: center;
						
						@include vrampbreakpoint(medium){
							left: 8px;
							top: 10px;
							width: 40px;
						}

						@include vrampbreakpoint(large){
							left: 12px;
							top: 12px;
							width: 45px;
						}
					}
				}

				.dollars{
					float: right;
					display: inline-block;

				}
			}


	


	.high-bidder{
		position: absolute;
		width: 100%;

		top: $height-ask_small;
		height: $height-high-bid_small;

		padding: 15px 10px;

		background-color: $bg-color-high-bid;

		@include details-label;
		
		@include vrampbreakpoint(medium){
			top: $height-ask;
			height: $height-high-bid;

			padding: $default-padding;
		}

		@include vrampbreakpoint(large){
			top: $height-ask_large;
			height: $height-high-bid_large;
			padding: 15px $default-padding_large;
		}

		@include vrampbreakpoint(xlarge){
			top: $height-ask_xlarge;
			height: $height-high-bid_xlarge;
			//padding: 15px $default-padding_large;
		}

	}

	.lot-details{
		
		padding: 15px 10px;

		background-color: $bg-color-details;

		position: absolute;
		bottom: 0;
		width: 100%;

		height: calc(100% - (#{$height-ask_small} + #{$height-high-bid_small}));

		@include vrampbreakpoint(medium){
			height: calc(100% - (#{$height-ask} + #{$height-high-bid}));
			padding: $default-padding;
		}

		@include vrampbreakpoint(large){
			height: calc(100% - (#{$height-ask_large} + #{$height-high-bid_large}));
			padding: $default-padding_large;
		}

		@include vrampbreakpoint(xlarge){
			height: calc(100% - (#{$height-ask_xlarge} + #{$height-high-bid_xlarge}));
		}
		
		@include details-label;

	}

		.lot-detail{

			&:not(:last-of-type){
				margin-bottom: 10px;	

				@include vrampbreakpoint(large){
					margin-bottom: 20px;
				}
			}

			div{
				@include lineclamp(3);
			}
		}




	.auctioneers-message, .open-offers{
		background-color: $bg-color-auctioneer-message;
		padding: $default-padding;

		position: absolute;
		bottom: 0;
		width: 100%;

		@include details-label;

		transform: translateY(100%);
		transition: $transition;

		&.s-shown{
			transform: translateY(0);	
		}
	}







	





