.h-t-ellipsize{
	@include ellipsize;
}

.h-valign{
	@include vert-align;
	position: absolute;
}

.c-brand{color: $brand-color;}

.h-mb-100{
	margin-bottom: $default-padding/2;

	@include vrampbreakpoint(medium){
		margin-bottom: $default-padding;		
	}
}