@font-face {
  font-family: 'ADMIcons';
  src:  url('../fonts/ADMIcons.eot?pk9uen');
  src:  url('../fonts/ADMIcons.eot?pk9uen#iefix') format('embedded-opentype'),
    url('../fonts/ADMIcons.ttf?pk9uen') format('truetype'),
    url('../fonts/ADMIcons.woff?pk9uen') format('woff'),
    url('../fonts/ADMIcons.svg?pk9uen#ADMIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ADMIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon-font {
    font-family: 'ADMIcons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.i-size-med{
    font-size: 20px;
    vertical-align: middle;
}
.icon-Location:before {
  content: "\e902";
}
.icon-IronClad-Cog:before {
  content: "\e900";
}
.icon-Photos:before {
  content: "\e900";
}
.icon-server:before {
  content: "\e910";
}
.icon-flag:before {
  content: "\e928";
}
.icon-play:before {
  content: "\e929";
}
.icon-Configure:before {
  content: "\e92a";
}
.icon-Media:before {
  content: "\e92b";
}
.icon-Presentation:before {
  content: "\e92c";
}
.icon-Reports:before {
  content: "\e92d";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e907";
}
.icon-eye:before {
  content: "\e909";
}
.icon-help:before {
  content: "\e90a";
}
.icon-plus:before {
  content: "\e90e";
}
.icon-warning:before {
  content: "\e913";
}
.icon-check-inner:before {
  content: "\e916";
}
.icon-settings:before {
  content: "\e918";
}
.icon-ccy:before {
  content: "\e91b";
}
.icon-trash:before {
  content: "\e91f";
}
.icon-sold:before {
  content: "\e921";
}
.icon-arrow-left:before {
  content: "\e926";
}
.icon-pause:before {
  content: "\e927";
}
.icon-keyboard_arrow_up:before {
  content: "\e92e";
}
 