
.lot-preview{
	@include absfill;
	right: $details-width;

	display: flex;
	flex-direction: column;

	background-color: $grey-900;

	transform: translateX(0);

	transition: $transition;

	.s-other-rings_all &{
		bottom: $footer-height;
	}

	.s-auction-paused &, .s-auction-pre &, .s-auction-post &{
		transform: translateX(-100%);
	}
}
	
	.lot--title{
		flex: 0 0 $height-header;
		position: relative;
		///overflow: hidden;
		transition: $transition;

		z-index: 1;
		box-shadow: $ritchie-shadow;

		background-color: white;
		transition: $transition;

		.s-openOffers &{
			flex: 0 0 0;
		}

	}

		.lot--number{
			position: absolute;
			top: 0;
			left: 0;
			width: $width-lot--number;
			height: 100%;

			padding: 1vw;

			text-align: right;
			background-color: $brand-color;
			color: white;

			@include details-label;
			label{
				margin-bottom: 0;
				opacity: 1;
			}

			.sale-ring{
				opacity: 0.8;
			}

			&>div{
				overflow: hidden;
				white-space: nowrap;

				& span:first-child{
					.lang--jpy &, .lang--cn &{
						@extend .font--120;
					}
				}
			}
		}

		.lot--description{
			position: absolute;
			top: 0;
			height: $height-header;
			left: $width-lot--number;
			right: 0;

			padding: $default-padding;

			line-height: 2.8vw;

			span{
				padding-right: $default-padding;
				//@include multiLineFadeEllipsis($lineHeight: 2.8vw, $lineCount: 2, $bgColor: white);  
				@include lineclamp(2);
			}
		}

		.lot--qualifier-flag{
			position: absolute;
			bottom: 0;
			right: 5px;
			background-color: $contrast-colour;
			color: white;
			transform: translateY(100%);
			text-transform: uppercase;
			text-align: center;

			&:after{
				content: "";
				width: 10px;
				display: block;
				position: absolute;
				right: -10px;
				top: 0;
				bottom: 0;
				background-color: darken($contrast-colour, 15%);
				transform: skewY(-20deg);
				transform-origin: 0 0;
			}
		}

			.lot--unused{
				padding: 5px 20px 0;
				background-color: darken($contrast-colour,10%);
			}


@mixin positionphotos{
	display: inline-block;
	width: 100%;
	max-width: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	@include aspectBreakpoint(wide){
		width: auto;
		max-width: auto;
		top: 0;
		height: 105%;
		max-height: 105%;
		transform: translateX(0);
	}
}

	.lot--media{
		flex: 1 1 auto;
		transition: $transition;
		position: relative;
		
		.s-openOffers &{
			flex: 0 0 0;
		}


		.custom--media, iframe{
			@include absfill;
			bottom: -30px;
		}

		//FOR VIDEOS TO BE CENTERED CORRECTLY!
		.custom--media div{
			top: 50%;
			transform: translateY(-50%);
			position: relative;
		}

		iframe{
			width: 100%;
			height: 100%;
		}

		.media--photo{
			// @include absfill;
			// bottom: -30px;
			// text-align: center;
		}

		#image_slideshow > div{
			@include absfill;
			bottom: -30px;
			text-align: center;

			> img{
				@include positionphotos;
			}
		}

		.lot--ironclad{
			position: absolute;
			top: 0;
			right: 0.5vw;
			margin-top: 0.5vw;
			color: $ironclad-colour;
			font-size: 2em;
			
			@include aspectBreakpoint(wide){
				position: relative;
				vertical-align: top;
				display: inline-block;
				width: 0;
				transform: translateX(-5vw);
			}

			img{
				width: 4vw;
				height: 4vw;
				background-color: white;
				border-radius: 50%;
			}
		}
	}

		.media--photos{
		    @include absfill;
		    bottom: -30px;
		}

		.swiper-container{
			@include absfill;

			.swiper-slide{
				background-color: $grey-900;
				text-align: center;

				> img{
					@include positionphotos;
				}
			}
	    }
