
.lot-preview{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: $details-width;

	background-color: $grey-900;

	transform: translateX(0);

	transition: $transition;

	.s-other-rings_all &{
		bottom: $footer-height;
	}

	.s-auction-paused &, .s-auction-pre &, .s-auction-post &{
		transform: translateX(-100%);
	}
}
	
	.lot--title{
		position: absolute;
		top: 0;
		left: 50%;
		width: 100%;
		height: $height-header;

		transform: translateX(-50%);

		z-index: 1;
		box-shadow: $ritchie-shadow;

		background-color: white;
		transition: $transition;

	}

		.lot--number{
			position: absolute;
			top: 0;
			left: 0;
			width: $width-lot--number;
			height: 100%;

			padding: 1vw;

			text-align: right;
			background-color: $brand-color;
			color: white;

			@include details-label;
			label{
				margin-bottom: 0;
				opacity: 1;
			}

			.sale-ring{
				opacity: 0.8;
			}
		}

		.lot--description{
			position: absolute;
			top: 0;
			height: $height-header;
			left: $width-lot--number;
			right: 0;

			padding: $default-padding;

			line-height: 2.8vw;

			span{
				padding-right: $default-padding;
				@include lineclamp(2);
			}

			// &:after{
			// 	content: "";
			// 	position: absolute;
			// 	right: 0;
			// 	width: 200px;
			// 	top: 50%;
			// 	bottom: 0;
			// 	background: linear-gradient(to right, rgba(white,0), rgba(white,1) 80%, rgba(white,1));
			// }
		}

		.lot--unused{
			position: absolute;
			bottom: 0;
			right: 10px;
			background-color: $contrast-colour;
			padding: 5px 20px 0;
			color: white;
			transform: translateY(50%);
			text-transform: uppercase;

			&:after{
				content: "";
				width: 11px;
				display: block;
				position: absolute;
				right: -10px;
				top: 0;
				bottom: 0;
				background-color: darken($contrast-colour, 10%);
				transform: skewY(-20deg);
				transform-origin: 0 0;
			}
		}


	.lot--media{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;

		overflow: hidden;

		top: $height-header;


		.custom--media, iframe{
			width: 100%;
			height: 100%;
		}

		.media--photo img{
			width: 100%;
			max-width: 100%;

			@include vert-align;
			position: absolute;
		}
	}

		.media--photos{
		    position: relative;
		    top: 50%;
		    transform: translateY(-50%);
		}

		.swiper-container{

			img{
				width: 100%;
	    		min-width: 100%;
	    		display: block;
	    	}
	    }
