.other-rings{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: $footer-height;
	transform: translateY(100%);
	transition: $transition;

	.s-other-rings_single &, .s-other-rings_all &{
		transform: translateY(0);
	}
}
	
	.rings{
		height: $footer-height;
	}

	.ring{
		height: $footer-height;
		position: relative;
		display: inline-block;
		background-color: $grey-50;

		&.s-post{
			background-color: $grey-800;
			color: rgba(white, 0.9);
		}

		&.s-pre{
			background-color: $grey-800;
			color: rgba(white, 0.9);
		}

		&:not(:first-child){
			border-left: 1px solid $grey-500;
		}

		&:only-child{
			width: $details-width;
			float: right;
		}

		&:nth-last-child(n+2),
		&:nth-last-child(n+2) ~ li {
			width: 50%;
		}

		&:nth-last-child(n+3),
		&:nth-last-child(n+3) ~ li {
			width: 33.33333%;
		}
	}

		.ring--number{
			@include vert-align;
			position: absolute;
			left: 0;
			width: 5vw;

			text-align: center;

			color: $brand-color;

			label{
				display: block;
				@include font-size(1);
				margin-top: 8px;
				margin-bottom: -4px;
			}


		}


		.ring--progress{
			@include vert-align;
			position: absolute;
			right: 0;
			left: $width-ring-number;

			div{
				@include ellipsize;
			}

			.ring_TAL &{
				left: $width-ring-number + 2vw;
			}
			
			font-weight: 700;
		}


			.ring_TAL{
				
				.ring--number label{
					text-align: left;
					padding-left: 0.8vw;
					margin-bottom: 0.7vw;
				}
			}



