$width-ring-number_small: 50px;
$width-ring-number: 75px;



.other-rings{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: $footer-height_small;

	@include vrampbreakpoint(medium){
		height: $footer-height;
	}
}
	
	.rings{
		height: $footer-height;
	}

	.ring{
		height: $footer-height_small;
		
		@include vrampbreakpoint(medium){
			height: $footer-height;
		}

		position: relative;
		display: inline-block;
		background-color: $grey-50;

		&.s-post{
			background-color: $grey-700;
			color: rgba(white, 0.7);
		}

		&.s-pre{
			background-color: $grey-700;
			color: rgba(white, 0.7);
		}

		&:not(:first-child){
			border-left: 1px solid $grey-500;
		}

		&:only-child{
			width: $details-width;
			float: right;
		}

		&:nth-last-child(n+2),
		&:nth-last-child(n+2) ~ li {
			width: 50%;
		}

		&:nth-last-child(n+3),
		&:nth-last-child(n+3) ~ li {
			width: 33.33333%;
		}
	}

		.ring--number{
			@include vert-align;
			position: absolute;
			left: 0;
			width: $width-ring-number_small;

			@include vrampbreakpoint(medium){
				width: $width-ring-number;				
			}

			text-align: center;

			color: $brand-color;

			label{
				display: block;
				@include font-size(1);
				margin-top: 8px;
			}
		}

		.ring--progress{
			@include vert-align;
			position: absolute;
			right: 0;
			left: $width-ring-number_small;
			
			@include vrampbreakpoint(medium){
				left: $width-ring-number;				
			}
			
			
			font-weight: 700;
		}