$width-ring-number_small: 50px;
$width-ring-number: 65px;
$width-ring-number_large: 75px;
$width-ring-number_xlarge: 90px;



.other-rings{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: $footer-height_small;

	@include vrampbreakpoint(medium){
		height: $footer-height;
	}

	@include vrampbreakpoint(large){
		height: $footer-height_large;
	}

	@include vrampbreakpoint(xlarge){
		height: $footer-height_xlarge;
	}
}
	
	.rings{
		height: $footer-height;
	}

	.ring{
		height: $footer-height_small;
		
		@include vrampbreakpoint(medium){
			height: $footer-height;
		}

		@include vrampbreakpoint(large){
			height: $footer-height_large;
		}

		@include vrampbreakpoint(xlarge){
			height: $footer-height_xlarge;
		}

		position: relative;
		display: inline-block;
		background-color: $grey-50;

		&.s-post{
			background-color: $grey-700;
			color: rgba(white, 0.7);
		}

		&.s-pre{
			background-color: $grey-700;
			color: rgba(white, 0.7);
		}

		&:not(:first-child){
			border-left: 1px solid $grey-500;
		}

		&:only-child{
			width: $details-width;
			float: right;
		}

		&:nth-last-child(n+2),
		&:nth-last-child(n+2) ~ li {
			width: 50%;
		}

		&:nth-last-child(n+3),
		&:nth-last-child(n+3) ~ li {
			width: 33.33333%;
		}
	}

		.ring--number{
			@include vert-align;
			position: absolute;
			left: 0;
			width: $width-ring-number_small;

			@include vrampbreakpoint(medium){
				width: $width-ring-number;				
			}

			@include vrampbreakpoint(large){
				width: $width-ring-number_large;				
			}

			@include vrampbreakpoint(xlarge){
				width: $width-ring-number_xlarge;				
			}

			text-align: center;

			color: $brand-color;

			label{
				display: block;
				@include font-size(1);
				margin-top: 8px;
				margin-bottom: -4px;
			}


		}


		.ring--progress{
			@include vert-align;
			position: absolute;
			right: 0;
			left: $width-ring-number_small;

			.ring_TAL &{
				left: $width-ring-number_small + 35px;
			}
			
			@include vrampbreakpoint(medium){
				left: $width-ring-number;		

				.ring_TAL &{
					left: $width-ring-number + 25px;
				}	
			}

			@include vrampbreakpoint(large){
				left: $width-ring-number_large;				
			}

			@include vrampbreakpoint(xlarge){
				left: $width-ring-number_xlarge;				
			}
			
			
			font-weight: 700;
		}


			.ring_TAL{
				
				.ring--number label{
					@include vrampbreakpoint(smallmax){
						line-height: 1rem;
					}

					text-align: left;
					padding-left: 10px;
					margin-bottom: 8px;
				}
			}



