//RIGHT HAND SIDE STYLES

	$paused-upper-height: 40%;
	$paused-upper-height_small: 50%;

	.paused-details, .pre-auction-details, .post-auction-details{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		
		transform: translateX(-100%);

		transition: $transition;

		font-weight: 700;
	}

		.s-auction-paused .paused-details{
			transform: translateX(0);
		}

		.s-auction-pre .pre-auction-details{
			transform: translateX(0);
		}

		.s-auction-post .post-auction-details{
			transform: translateX(0);	
		}

		.ring-detail{
			position: absolute;
			top: 0;
			bottom: $paused-upper-height_small;
			left: 0;
			right: 0;
			
			padding: 15px;

			@include vrampbreakpoint(medium){
				padding: 30px;	
				bottom: $paused-upper-height;
			}

			label{
				display: block;
				
				line-height: 2rem;
				opacity: 0.9;
			}
		}

			.ring-detail_inactive{
				background-color: $grey-700;
				color: rgba(white,0.8);
			}

		.ring-status{
			position: absolute;
			top: $paused-upper-height;
			bottom: 0;
			left: 0;
			right: 0;

			background-color: $bg-color-auctioneer-message;

			text-align: center;
			text-transform: uppercase;

			.ring-status--content{
				@include vert-align;
				position: absolute;
				width: 100%;
				
				padding: 15px;

				@include vrampbreakpoint(medium){
					padding: 30px;	
				}
			}

			.status-icon{
				display: block;
				margin-bottom: 30px;
				font-size: 80px;
				
				animation: pulsate 2s ease-in-out infinite;
			}
		}

			.ring-status_focus{
				background-color: $brand-color;
			}



			@keyframes pulsate {
			  	0% {
			    	transform: scale(1);
				}
				50%{
					transform: scale(1.4);
				}
			  	100% {
				 	transform: scale(1);
				} 
			}

//MAIN AREA STYLES

.paused-message, .pre-post-message{
	position: absolute;
	top: $paused-spacing;
	bottom: $paused-spacing;
	left: 0;
	right: $details-width_small;

	@include vrampbreakpoint(medium){
		left: $paused-spacing;
		right: calc(#{$details-width} + (2 * #{$paused-spacing}));
	}

	background-color: white;
	padding: 2 * $paused-spacing;

	color: $brand-color;

	opacity: 0;
	transform: translateX(100%);
	transition: $transition;
	transition-delay: 0.1s;

	.h-valign{
		padding: $paused-spacing;
		text-align: center;
		left: 0;
		right: 0;
	}
}

	.paused-message{
		&:after{
			content: " ";
			
			position: absolute;
			top:50%;
			right: -$paused-spacing/2;
			width: $paused-spacing;
			height: $paused-spacing;
			
			transform: translateY(-50%) rotate(45deg);

			background-color: white;
		}

		.s-auction-paused &{
			transform: translateX(0);
			opacity: 1;
		}
	}

	.pre-post-message{

		.s-auction-pre &, .s-auction-post &{
			transform: translateX(0);
			opacity: 1;
		}
	}